@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
@media only screen and (min-width: 990px) {
  header,
  main,
  footer {
    width: 80%;
  }
}
header {
  z-index: 10;
}
/* Temp CSS */
section:nth-child(odd) {
  min-height: 50vh;
  background-color: #7678ed;
}
section:nth-child(even) {
  min-height: 50vh;
  background-color: #fcf6bd;
}
section h3 {
  text-align: center;
  padding-top: 10px;
}

/*  */
.nav-item {
  border-right: 0.1vw solid #dbe4e9;
}
.navbar-nav:first-child {
  border-left: 0.1vw solid #dbe4e9;
}
.navbar-nav {
  justify-content: space-evenly;
  width: 100%;
}

.nav-icon {
  margin-right: 5px;
  font-size: 1.25vw;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: #053777;
  height: 100%;
  color: white;
}
